
/*Code for homepage background and text*/

/*code for the overall flow of the homepage*/
.homepage {
  display:flex;
  flex-direction: column;
}

header {
    flex:1 1 30%;
}
.homepage-content {
  flex: 1 1 70%;
}

/*code for the style and flow of the header*/
header {
  font-family: 'Patua One', serif;
  display:grid;
  grid-direct:column;
  grid-template-columns: 1 fr;
  grid-template-rows: 1fr 1fr 2fr;
  max-height: 500px;
}

h1 {
  margin-top: 2%;
  grid-row: 1 / 2;
  font-size: 6em;
}

h2 {
  grid-row: 2 / 3;
}

nav.topnav {
  grid-row: 3 / 4;
  margin-top: 20%;
}

.topnav ul {
  overflow:hidden;
  font-family: 'Istok Web', sans-serif;
  list-style-type: none;
  color:black;
  background-color:white;
  margin-top: 2%;
  margin-bottom: 2%;
}
.topnav a {
  color:black;
  background-color:white;
  text-decoration:none;
}

.topnav li {
    font-size:1.25em;
    float: left;
    display: inline-block;
    padding: 14px 16px;
    text-align:center;
}
nav a:hover{
  text-decoration: underline;
}

#usability-dropdown {
  display:none;
}

#usability-dropbtn:hover #usability-dropdown {
  display: block;
}

#about-dropdown {
  display:none;
}
#about-dropbtn:hover #about-dropdown {
  display:block;
}

#homepage-head {
  background: url('images/homepage-header-graphic.png');
  height:350px;
  width:100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#homepage-head h1 {
  font-size: 6em;
  color:white;
  padding:0;
  margin-right:40%;
  margin-top:0;
  margin-bottom:0;
  margin-left:1%;
  text-align:center;
}
#homepage-head h2 {
  font-size: 2em;
  color:white;
  padding:0;
  margin-right:16%;
  margin-left:1%;
  text-align:center;
  margin-bottom:0;
}

.homepage-content {
  display:flex;
  flex-direction: column;
  font-family: 'Istok Web', sans-serif;
  text-align:center;
  margin-top:5%;
}

.library-backdrop {
  position:relative;
}

.library-backdrop picture {
  width:100%;
  height:100%;
}

.library-backdrop img {
  width:100%;
  height:100%;
}

.book-nav:hover {
  transform:scale(2.0);
}

@media (min-width:799px){

#about-book {
  position:absolute;
  width:5%;
  top:41.75%;
  left:82.5%;
}

#collab-book {
  position:absolute;
  width:5%;
  top:59.25%;
  left:76.75%;
}

#interview-book {
  position:absolute;
  width:5%;
  top:75.5%;
  left:89%;
}

#simply-book {
  position:absolute;
  width:5%;
  top:75.5%;
  left:71.5%;
}

#hoopla-book {
  position:absolute;
  width:5%;
  top:23%;
  left:72%;
}

#libby-book {
  position:absolute;
  width:5%;
  top:59%;
  left:91%;
}
}

@media (max-width:800px){

#homepage-head h1 {
  font-size: 4em;
  color:white;
  padding:0;
  margin-right:10%;
  margin-top:0;
  margin-bottom:0;
  margin-left:10%;
  text-align:center;
}
#homepage-head h2 {
  font-size: 1.75em;
  color:white;
  padding:0;
  margin-right:8%;
  margin-left:8%;
  text-align:center;
  margin-bottom:0;
}

.topnav {
  display:flex;
  flex-direction:row;
}
.topnav li {
    font-size:1em;
    float: left;

/*    display: inline-block;*/
    padding: 10px 20px;
    text-align:center;
}

#about-book {
  position:absolute;
  width:15%;
  top:37.25%;
  left:46.5%;
}

#collab-book {
  position:absolute;
  width:15%;
  top:54%;
  left:30.75%;
}

#interview-book {
  position:absolute;
  width:15%;
  top:69.75%;
  left:64%;
}

#simply-book {
  position:absolute;
  width:15%;
  top:69.75%;
  left:16.5%;
}

#hoopla-book {
  position:absolute;
  width:15%;
  top:19.75%;
  left:19%;
}

#libby-book {
  position:absolute;
  width:15%;
  top:54%;
  left:69%;
}
}

#welcome-message {
  margin-top:10%;
}
h3#welcome-message {
  font-size: 3em;
  margin-bottom:2%;
  padding-left:0;
  padding-right:0;
  position:absolute;
}


* {
  box-sizing: border-box;
}

/*Footer Formating*/

.attribution {
  font-family: 'Istok Web', sans-serif;
  background-color:white;
  text-align:center;
  padding:5px;
}