/*Code for homepage text*/


/*Code for homepage background*/
header {
  font-family: 'Patua One', serif;
}



.homepage {
  display:flex;
  flex-direction: column;
  font-family: 'Istok Web', sans-serif;
  text-align:center;
}

.library-backdrop {
  background: url('images/library-background-draft.svg');
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-size:contain;
}

.library-backdrop picture {
  width:100%;
  height:100%;
}

.library-backdrop img {
  width:100%;
  height:100%;
}

/*div.library-backdrop {
  position:relative;
  width:100%;
}*/

/*.book-nav {
  position:absolute;
}*/

.book-nav:hover {
  transform:scale(1.5);
}

h3#welcome-message {
  font-size: 1em;
  margin: 0;
  padding-left:0;
  padding-right:0;
  position:absolute;
  top:20%;
  left:5%;
/*  background-color:white;*/
}
* {
  box-sizing: border-box;
}

.attribution {
  font-family: 'Istok Web', sans-serif;
  background-color:white;
  text-align:center;
  padding:5px;
}